rules_version='2';
service cloud.firestore { match /databases/{database}/documents {
 match /profiles/{uid} { allow read: if request.auth!=null; allow create,update: if request.auth!=null && request.auth.uid==uid; }
 match /rooms/{roomId} {
  allow read: if request.auth!=null;
  allow create: if request.auth!=null && request.resource.data.ownerId==request.auth.uid;
  allow update,delete: if request.auth!=null && resource.data.ownerId==request.auth.uid;
  match /members/{uid} { allow read: if request.auth!=null; allow create,update,delete: if request.auth!=null && request.auth.uid==uid || (request.auth!=null && get(/databases/$(database)/documents/rooms/$(roomId)).data.ownerId==request.auth.uid); }
  match /messages/{messageId} { allow read: if request.auth!=null; allow create: if request.auth!=null && request.resource.data.uid==request.auth.uid && request.resource.data.text is string && request.resource.data.text.size()<=2000; allow update,delete: if request.auth!=null && resource.data.uid==request.auth.uid; }
 }
}
